@SB_PICKER_WIDTH:             128px;
@SB_PICKER_HEIGHT:            @SB_PICKER_WIDTH;
@SB_PICKER_CURSOR_WIDTH:      14px;
@SB_PICKER_CURSOR_HEIGHT:     @SB_PICKER_CURSOR_WIDTH;
@H_PICKER_HEIGHT:             128px;
@H_PICKER_WIDTH:              26px;
@H_PICKER_CURSOR_HEIGHT:      3px;


.rui-color-picker {

}

.rui-color-picker__sb-picker {
  display: inline-block;
  position: relative;
  width: @SB_PICKER_WIDTH;
  height: @SB_PICKER_HEIGHT;
  overflow: hidden;
  margin-right: 3px;
}

.rui-color-picker__sb-picker--dragging {
  cursor: pointer;
}

.rui-color-picker__sb-picker-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: @SB_PICKER_WIDTH;
  height: @SB_PICKER_HEIGHT;
}

.rui-color-picker__sb-picker-cursor {
  position: absolute;
  width: @SB_PICKER_CURSOR_WIDTH;
  height: @SB_PICKER_CURSOR_HEIGHT;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid black;
  &:before {
    content: "";
    width: @SB_PICKER_CURSOR_WIDTH;
    height: @SB_PICKER_CURSOR_HEIGHT;
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 50%;
    border: 1px solid white;
    pointer-events: none;
  }
}

.rui-color-picker__h-picker {
  position: relative;
  display: inline-block;
  width: @H_PICKER_WIDTH;
  height: @H_PICKER_HEIGHT;
  background: linear-gradient(hsl(0, 100%, 50%) 0%, 
                              hsl(35, 100%, 50%) 10%, 
                              hsl(71, 100%, 50%) 20%, 
                              hsl(107, 100%, 50%) 30%, 
                              hsl(143, 100%, 50%) 40%, 
                              hsl(179, 100%, 50%) 50%,
                              hsl(215, 100%, 50%) 60%,
                              hsl(252, 100%, 50%) 70%,
                              hsl(288, 100%, 50%) 80%,
                              hsl(324, 100%, 50%) 90%,
                              hsl(359, 100%, 50%) 100%);
}
.rui-color-picker__h-picker--dragging {
  cursor: pointer;
}
.rui-color-picker__h-picker-cursor {
  width: @H_PICKER_WIDTH;
  height: @H_PICKER_CURSOR_HEIGHT;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}