{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "strict": 0,
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "react/prop-types": [
      2,
      {
        "ignore": ["children", "className"]
      }
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node":  true,
    "phantomjs": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "arrowFunctions": true,
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "react"
  ]
}
