{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true,
        "modules": true,
        "classes": true,
        "templateStrings": true,
        "defaultParams": true,
        "destructuring": true,
        "spread": true,
    },
    "rules": {
        "semi": 2
    }
}
