.rui-floating-label-input {
  position: relative;
  margin-top: 18px;
}

.rui-floating-label-input__input {
  position: relative;
  z-index: 1;
}

.rui-floating-label-input__label {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: normal;
  height: 32px;
  padding: 7px 12px;
  margin: 0;
}

.rui-floating-label-input__label--floated {
  z-index: 0;
  font-weight: bold;
  left: auto;
  height: auto;
  padding: 0 12px;
  bottom: auto;
  font-size: 11px;
  opacity: 0;
  transition: top 250ms, opacity 250ms;
}

.rui-floating-label-input__label--floated-active {
  top: -16px;
  opacity: 1;
}
