.re-pagination {
  $re-pagination-item-margin: 0 5px 0 0 !default;
  $re-pagination-item-link-border: 1px solid #efefef !default;
  $re-pagination-item-link-padding: 4px 8px !default;
  $re-pagination-item-link-background: #fff !default;
  $re-pagination-item-link-background-active: #337ab7 !default;
  $re-pagination-item-link-color: #999 !default;
  $re-pagination-item-link-color-active: #fff !default;
  $re-pagination-item-link-font-size: 14px !default;

  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;
    margin: $re-pagination-item-margin;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-link {
    background: $re-pagination-item-link-background;
    border: $re-pagination-item-link-border;
    color: $re-pagination-item-link-color;
    display: block;
    padding: $re-pagination-item-link-padding;
    font-family: Arial, serif;
    text-decoration: none;
    font-size: $re-pagination-item-link-font-size;
  }

  &__item--active &__item-link {
    background: $re-pagination-item-link-background-active;
    color: $re-pagination-item-link-color-active;
  }

}
