.re-pagination {
  $re-pagination__item-margin: 0 5px 0 0 !default;
  $re-pagination__item-link-background: #fff !default;
  $re-pagination__item-link-color: #999 !default;
  $re-pagination__item-link-border: 1px solid #efefef !default;
  $re-pagination__item-link-padding: 4px 8px !default;
  $re-pagination__item-link--active-background: #fd1555 !default;
  $re-pagination__item-link--active-color: #fff !default;

  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;
    margin: $re-pagination__item-margin;

    &:last-child {
      margin-right: 0;
    }
  }

  &__item-link {
    background: $re-pagination__item-link-background;
    border: $re-pagination__item-link-border;
    color: $re-pagination__item-link-color;
    display: block;
    padding: $re-pagination__item-link-padding;
    font-family: Arial, serif;
    text-decoration: none;
    font-size: 14px;
  }

  &__item--active &__item-link {
    background: $re-pagination__item-link--active-background;
    color: $re-pagination__item-link--active-color;
  }

}
