.re-panel {
  $re-panel-background: #fafafa !default;
  $re-panel-border: 1px solid #efefef !default;
  $re-panel-padding: 15px !default;
  $re-panel-border-radius: 4px !default;
  $re-panel-header-background: darken($re-panel-background, 5%) !default;
  $re-panel-footer-background: darken($re-panel-background, 5%) !default;

  background: $re-panel-background;
  border: $re-panel-border;
  border-radius: $re-panel-border-radius;
  margin-bottom: 20px;
  font-family: Arial, serif;

  &__header {
    padding: $re-panel-padding;
    border-top-left-radius: $re-panel-border-radius;
    border-top-right-radius: $re-panel-border-radius;
    background: $re-panel-header-background;
  }

  &__header-heading {
    margin: 0;
    padding: 0;
  }

  &__content {
    padding: $re-panel-padding;

    p {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__footer {
    padding: $re-panel-padding;
    border-bottom-left-radius: $re-panel-border-radius;
    border-bottom-right-radius: $re-panel-border-radius;
    background: $re-panel-footer-background;
  }

}
