.re-progress-bar {
  $re-progress-bar-track-background: rgba(0, 0, 0, .1) !default;
  $re-progress-bar-background: #337ab7 !default;
  $re-progress-bar-background-complete: #9dda83 !default;
  $re-progress-bar-height: 10px !default;
  $re-progress-bar-border-radius: 5px !default;
  $re-progress-bar-transition: width 350ms ease-out !default;

  background: $re-progress-bar-track-background;
  border-radius: $re-progress-bar-border-radius;
  height: $re-progress-bar-height;
  overflow: hidden;

  &__bar {
    background: $re-progress-bar-background;
    height: 100%;
    transition: $re-progress-bar-transition;
  }

  &--complete &__bar {
    background: $re-progress-bar-background-complete;
    transition: none;
  }
}
