.re-progress-bar {
  $re-progress-bar-track-background: rgba(0, 0, 0, .1) !default;
  $re-progress-bar-background: #337ab7 !default;
  $re-progress-bar-background-complete: #9dda83 !default;

  background: $re-progress-bar-track-background;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;

  &__bar {
    background: $re-progress-bar-background;
    height: 100%;
    transition: width 350ms ease-out;
  }

  &--complete &__bar {
    background: $re-progress-bar-background-complete;
    transition: none;
  }
}
