.re-progress-bar {
  $brand-primary: #fd1555;
  $brand-success: #9dda83;
  $progress-bar-track-background: rgba(0, 0, 0, .1);
  $progress-bar-background: $brand-primary;
  $progress-bar-background-complete: $brand-success;

  background: $progress-bar-track-background;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;

  &__bar {
    background: $progress-bar-background;
    height: 100%;
    transition: width 350ms ease-out;
  }

  &--complete &__bar {
    background: $progress-bar-background-complete;
    transition: none;
  }
}
